## Introduction to Pandas

In [3]:
import pandas as pd

In [4]:
# 2 main datatypes: Series & DataFrame
# Series = 1-D
# DF.    = 2-D

series = pd.Series(["BMW", "Toyota", "Honda"])
colours = pd.Series(["Red", "Blue", "White"])

In [5]:
car_data = pd.DataFrame({"Car make": series, "Colour" : colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [6]:
# Import data
car_sales = pd.read_csv("./data/car-sales.csv")

In [7]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

## Describe Data

In [ ]:
# Attributes
car_sales.dtypes

In [ ]:
car_sales.columns

In [ ]:
car_colums = car_sales.columns
car_colums

In [ ]:
car_sales.index

In [ ]:
# Function
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
car_sales.mean()

In [ ]:
car_prices = pd.Series([3000,1500,112045])
car_prices.mean()

In [ ]:
car_sales["Doors"].sum()

In [ ]:
len(car_sales)

## Viewing and selecting data

In [ ]:
car_sales.head()

In [ ]:
car_sales.tail()

In [ ]:
# .loc and .iloc
animals = pd.Series(["cat", "dog", "Bird", "panda", "snake"], index=[0,3,9,8,3])

In [ ]:
animals

In [ ]:
# loc refers to index
animals.loc[3]

In [ ]:
# .iloc refers to position
animals.iloc[3]

### Boolean Indexing

In [ ]:
car_sales[car_sales["Odometer (KM)"] > 100000]

In [ ]:
pd.crosstab(car_sales["Make"], car_sales["Doors"])

In [ ]:
# Groupy
car_sales.groupby(["Make"]).mean()

In [ ]:
car_sales["Odometer (KM)"].plot()

In [ ]:
car_sales["Odometer (KM)"].hist() #150000 & 200000 consider as Outliner

In [ ]:
car_sales['Price'] = car_sales['Price'].replace('[\$\,\.]',"",regex=True).astype(int)

In [ ]:
car_sales.plot()

In [ ]:
car_sales["Make"] = car_sales["Make"].str.lower()

In [ ]:
car_sales_missing = pd.read_csv("./data/car-sales-missing-data.csv")
car_sales_missing

In [ ]:
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(), inplace = True)
car_sales_missing

In [ ]:
car_sales_missing.dropna(inplace=True)
car_sales_missing

## Create new Columns for Pandas DF

In [ ]:
#columns from series

seat_columns = pd.Series([5,5,5,5,5])

# New column added
car_sales["Seats"] = seat_columns
car_sales

In [ ]:
car_sales["Seats"].fillna(5, inplace = True)

In [ ]:
car_sales

In [ ]:
fuel_economy = [7.5, 9.2, 5.0, 9.6, 8.7, 4.7, 7.6,8.7,3.0,4.5]
car_sales["Fuel per 100KM"] = fuel_economy
car_sales

In [ ]:
car_sales["Total fuel used (L)"] = car_sales["Odometer (KM)"]/100*car_sales["Fuel per 100KM"]

In [ ]:
car_sales

In [ ]:
car_sales["Number of wheels"] = 4
car_sales["Passed road safety"] = True
car_sales

## Sampling Data

In [ ]:
#Shuffle all the row
car_sales_shuffled = car_sales.sample(frac=1)
car_sales_shuffled

In [ ]:
# Take a sample of the data to practise

#Only select 20% of data
car_sales_shuffled.sample(frac = 0.2)

In [ ]:
# Revert the original index
car_sales_shuffled.reset_index(drop=True, inplace=True)

In [ ]:
car_sales_shuffled

In [ ]:
car_sales["Odometer (KM)"] = car_sales["Odometer (KM)"].apply(lambda x: x/1.6)

In [ ]:
car_sales